@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
.form-control, .btn,.card{
	border:1px dashed #000;
}
*{
	font-family: 'Handlee', cursive;
}

.header{
	text-decoration: dashed;
}